body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #da9815;
}
#calculator {
    width: 300px;
    background-color: #ececec;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
#calculator-type {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden; 
    border-right: 2px solid black; 
    animation: typing 4s steps(12, end) forwards; 
    color: brown;
}
@keyframes typing {
    from { width: 0 }
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.button {
    width: 70px;
    height: 70px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #e0e0e0;
}